* {
    margin: 0;
}

body {
    background-color:lavenderblush;
}
nav {
    background-color: cadetblue;
}

.menu {
    text-align: center;
    margin: 0;
}

.menu li {
    display: inline-block;
}

.menu a {
    padding: 30px;
    color: white;
    text-decoration: none;
    display: block;
}

.menu a:hover {
    background-color: darkslategray;
}


main {
    background-color: azure;
    margin: 5px;
}

.mapa_mundi {
    float: right;
    margin: 10%
}
.mapamundi{
    width: 400px;
    height: auto;
}
.informacion {
    padding: 30px;
    width: 45%;
    text-align: center;
    border-collapse: collapse;
}

table{
    align-items: center;
    border-collapse: collapse;
    border: 5px solid aquamarine;
}
tr,td,th{
    align-items: center;
    border: 2px solid aquamarine;
}
footer {
    background-color: rgb(202, 92, 92);
}
.titulo1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}